/* Основной контейнер */
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    min-height: 100vh;
    background-color: #000; /* Темный фон */
    padding: 2rem;
    color: white;
    text-align: center; /* Центрируем текст */
}

/* Заголовок */
.settings-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Кнопка "Назад" */
.back-button {
    background-color: #ec971f;
    color: white;
    padding: 1rem;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border: none;
}

.back-button:hover {
    background-color: #ec971f;
}

/* Стили для формы добавления категории */
.category-form {
    background-color: #333;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

/* Поля ввода */
.input-field {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    border-radius: 0.375rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #444;
}

.color-picker {
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Кнопка добавления категории */
.submit-button {
    width: 100%;
    padding: 1rem;
    background-color: #ec971f;
    color: white;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
    border: none;
}

.submit-button:hover {
    background-color: #ec971f;
}

/* Стили для списка категорий */
.categories-list {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
}

/* Стили для каждого элемента категории */
.category-list {
    list-style-type: none;
    padding: 0;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.category-name {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Кнопки редактирования и удаления */
.category-buttons {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

/* Кнопки редактирования */
.edit-button {
    background-color: #fbd38d;
}

.edit-button:hover {
    background-color: #ecc94b;
}

/* Кнопки удаления */
.delete-button {
    background-color: #e53e3e;
}

.delete-button:hover {
    background-color: #c53030;
}

/* Модальное окно */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #333;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin: 2rem;
}

button.close-button {
    background-color: #e53e3e;
    color: white;
    width: 100%;
    padding: 1rem;
    font-size: 1.125rem;
}

button.close-button:hover {
    background-color: #c53030;
}
